<!DOCTYPE html>
<html>
<head>
    <title>welcome</title>
    <meta charset="utf-8">
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../resources/css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </button>
                <a class="navbar-brand" href="/root/home">TrackQ.com</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>Signin</a></li>

                    <li><a href="/signup"> <span class="glyphicon glyphicon-ok"></span>Signup</a></li>

                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>

                    <li><a href="/profile"><span class="glyphicon glyphicon-user"></span>My profile</a></li>

                    <li><a href="/projects"><span class="glyphicon glyphicon-list-alt"></span>My projects</a></li>

                </ul>
            </div>
        </div>
    </nav>
</div>
<br>
<br>
<br>
<div>
    <h1 class="text-info text-center" style="margin-bottom: 35px;margin-top: 35px">Welcome to TrackQ</h1>
</div>
<div class="container-fluid">

    <div class="col-md-4 text-center panel-body panel panel-success">
        <div><h2 class="text-success">Create your project</h2></div>
        <div><img src="../../../resources/img/make-icon_398798.png" class="img-thumbnail" style="height: 150px"></div>
        <div style="margin-top: 10px"><a href="/create-project" class="btn btn-success">Create Project</a></div>
    </div>

    <div class="col-md-4 text-center panel-body panel panel-info">
        <h2 class="text-info">Check project progress</h2>
        <div><img src="../../../resources/img/Custom-Icon-Design-Pretty-Office-9-Open-file.ico" class="img-thumbnail" style="height: 150px"></div>
        <div style="margin-top: 10px"><a href="/projects" class="btn btn-info">Check existing projects</a></div>
    </div>

    <div class="col-md-4 text-center panel-body panel panel-primary">
        <h2 class="text-primary">Inspect your tasks</h2>
        <div><img src="../../../resources/img/canva-business-people-design-person-icon--MAB2sqFKHu0.webp" class="img-thumbnail" style="height: 150px"></div>
        <div style="margin-top: 10px"><a href="/profile" class="btn btn-primary">Check your issues</a></div>
    </div>

</div>

<!-- jQuery -->
<script src="../../../resources/js/jquery-3.2.1.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="../../../resources/js/bootstrap.min.js"></script>
</body>
</html>
