<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../resources/css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>

<div class="panel-body panel panel-info">
    <h4 class="text-info text-center"><span class="badge" STYLE="background: red">Status</span> Task Name <span
            class="badge">Assignee</span></h4>
    <br>
    <form action="\updateIssue" method="post">
        <input type="number" hidden value="issueId" name="issueId">
        <div style="margin-bottom: 15px">
            <textarea id="issueDescription" name="issueDescription" rows="4" class="form-control text-center"
                      content="issue_content"></textarea>
        </div>
        <div class="text-center">
            <form>
                <div class="form-inline">
                        <select id="status" class="form-control bg-warning" name="status" style="width: 150px">
                        <option value="1" selected="selected">New</option>
                        <option value="2">To check</option>
                        <option value="3">In Development</option>
                        <option value="4">Done</option>
                        <option value="5">Canceled</option>
                    </select>
                <button type="submit" name="command" value="update" class="btn btn-info">
                    <span class="glyphicon glyphicon-refresh"></span></button>
                </div>
            </form>
        </div>
    </form>
</div>


<!-- jQuery -->
<script src="../../../resources/js/jquery-3.2.1.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="../../../resources/js/bootstrap.min.js"></script>

</body>
</html>
