<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../resources/css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>

<div class="panel-body panel panel-info">
    <h4 class="text-info text-center"><span class="badge" STYLE="background: red">Status</span> Task Name <span class="badge">Assignee</span></h4>

        <div style="margin-bottom: 15px">
            <textarea id="issueDescription" name="issueDescription" rows="4" class="form-control" content="issue_content"></textarea>
        </div>

</div>


<!-- jQuery -->
<script src="../../../resources/js/jquery-3.2.1.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="../../../resources/js/bootstrap.min.js"></script>

</body>
</html>
