<!DOCTYPE html>
<html lang="en" xmlns:spring="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form class="form-horizontal" method="get" action="/editProfile">


    <div class="form-group">
        <div class="col-md-6 text-right">
            <label>User name</label>
        </div>
        <div class="col-md-6">
            <input name="">
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-6 text-right">
            <label>My district </label>
        </div>
        <div class="col-md-6">
            <label>edit your country district</label>
        </div>
    </div>


    <button type="submit" class="btn btn-warning btn-lg center-block"> Edit profile</button>
</form>


</body>
</html>