<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../resources/css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="glyphicon glyphicon-align-justify"></span>
            </button>
            <a class="navbar-brand" href="/root/home">TrackQ.com</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>Signin</a></li>

                <li><a href="/signup"> <span class="glyphicon glyphicon-ok"></span>Signup</a></li>

                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>

                <li><a href="/profile"><span class="glyphicon glyphicon-user"></span>My profile</a></li>

                <li><a href="/projects"><span class="glyphicon glyphicon-list-alt"></span>My projects</a></li>

            </ul>
        </div>
    </div>
</nav>
</div>
<br>
<br>
<br>
<br>
<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Sign In</div>
                <div style="float:right; font-size: 80%; position: relative; top:-20px"><a
                        href="/root/forgot">Forgot password?</a></div>
            </div>

            <div style="padding-top:30px" class="panel-body">

                <form id="loginform" class="form-horizontal" method="post"
                      action="/login">

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="login-username" type="text" name="username" required placeholder="login" class="form-control">
                    </div>

                    <div style="margin-bottom: 5px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="login-password" type="password" name="password" required placeholder="password" class="form-control">
                    </div>

                    <br>
                    <div class="col-sm-12 controls text-center">
                        <button type="submit" id="btn-login" class="btn btn-primary btn-lg ">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="../../resources/js/jquery-3.2.1.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="../../resources/js/bootstrap.min.js"></script>

</body>
</html>
